<div class="box">
    <h1 class="title imgA">Hi! I'm Zindy</h1>
  <section>
    <img src="../../assets/contact.png" alt="" />
    <div class="square">
      <i>
        Contact us and let us know how we can help you. We are available to
        answer your queries, learn about your idea and advise you with your
        brand. Complete the contact form and we'll get back to you shortly - we
        look forward to hearing from you!
      </i>
      <strong>Teléfono:</strong>
      <p>+1 123-456-7890</p>
      <strong>Correo electrónico: </strong>
      <p>info@example.com</p>
      <strong> Dirección: </strong>
      <p>123 Main Street, Ciudad Ejemplo, País Ejemplo</p>
    </div>
  </section>
  <app-form-contact class="index"></app-form-contact>
</div>
